{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "useTabs": false,
  "bracketSpacing": true
}
